# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.json
*.csv

Simulator/.vscode
Simulator/vscode/tasks.json
Simulator/vscode/c_cpp_properties.json
Simulator/Debug
Simulator/.vs/2dEvoSimCpp/v16
Simulator/x64
Simulator/.vs/slnx.sqlite
Simulator/.vs
/.vs/2dEvoSimCpp/FileContentIndex
/.vs/2dEvoSimCpp/v17
/.vs/2dEvoSimCpp/v16
/.vs/slnx.sqlite
/Debug
/x64
*.cpython-39.pyc
Populations/*.bin
Playbacks/*.bin
